---
import Default from "../layouts/default.astro";
import About from "../modules/index/about.astro";
import Hero from "../modules/index/hero.astro";
import Skills from "../modules/index/skills.astro";
import Working from "../modules/index/working.astro";
---

<Default>
  <main class="flex flex-col gap-10 pt-8 pb-24">
    <Hero />
    <About />
    <Skills />
    <Working />
  </main>
</Default>
