<section class="flex flex-col items-center gap-10 w-full mt-16 mb-24">
  <div class="rounded-full overflow-hidden w-40 outline-1 dark:outline-white">
    <img src="/avatar.jpg" alt="Avatar" />
  </div>
  <div class="flex flex-col gap-4">
    <h1 class="text-[#14e956] text-center text-2xl min-[560px]:text-3xl">
      ¡Hey! Soy Angel Chávez
    </h1>
    <h2
      class="text-black dark:text-white text-center text-lg min-[560px]:text-xl"
    >
      Ingeniero de Software
    </h2>
  </div>
</section>
