---
import ProjectCard from "../../components/project-card.astro";

import { workingNow } from "../../data/projects";
---

<section
  class="flex flex-col items-center justify-center w-full mt-4 gap-8 px-4"
>
  <h2 class="text-black dark:text-white text-center">
    Actualmente trabajando en
  </h2>
  <div class="flex flex-wrap gap-6 items-stretch justify-center">
    {workingNow.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
